.gradle
build/
out/
.idea

!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
*.iws
*.ipr

!**/src/main/**/out/
!**/src/test/**/out/
gradlew
*.bat
*.exe
*.sh
*.gradle
*.iml
