.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr
.idea/

out/
!**/src/main/**/out/
!**/src/test/**/out/

gradlew
*.bat
*.exe
*.sh
*.gradle

